<%- include("header")-%>

<main>
    <section class="container">
        <aside class="vertical-ads">ads</aside>
        <section class="content">
            <h2 class="left-align">មេរៀនសម្រាប់<%= grade.grade_name %></h2>
            <% if(lessons.length > 0) { %>
                <section class="list lesson-list">
                    <% for(var i=0; i < lessons.length; i++) { %>
                        <a class="primary-button" href="/lesson/<%= lessons[i].lesson_id %>"><%= lessons[i].lesson_title %></a>
                    <% } %>
                </section>
            <% } else { %>
                <p>សុំអធ្យាស្រ័យ! ពួកយើងមិនទាន់មានមេរៀនសម្រាប់<%= grade.grade_name %>ឡើយ។</p>
            <% } %>
        </section>
        <aside class="vertical-ads">ads</aside>
    </section>
</main>

<%- include("footer"); -%>